<!DOCTYPE html>
<html>
  <head>
    <title>Binnorie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <body>
    <header>

    </header>
    <img src="/assets/binnorie_logo.png" alt="Binnorie Logo">
    <nav>
      <%= link_to "Home" %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <footer>

    </footer>
  </body>
</html>
