<!DOCTYPE html>
<html>
  <head>
    <title>Binnorie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <body>
    <header>
      <div class="grey">
      </div>
      <div class="transparent">
        <img class="main-logo" src="/assets/binnorie_logo.png" alt="Binnorie Logo">
        <nav>
          <%= link_to "Home" %>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer>

    </footer>
  </body>
</html>
