<!DOCTYPE html>
<html>
  <head>
    <title>Binnorie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= cloudinary_js_config %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="grey">
      </div>
      <div class="transparent">
        <img class="main-logo" src="/assets/binnorie_logo.png" alt="Binnorie Logo">
        <nav>
          <%= link_to "Home" %>
        </nav>
      </div>
    </header>
    <div class="container_main">
      <%= yield %>
    </div>
    <footer>
      <div class="grey-footer">
        <img class="footer-logo" src="/assets/binnorie_logo.png" alt="Binnorie Logo">
        <div class="footer-text">
          <p>25 Lodge Road Lovedale NSW 2325</p>
          <p>Open: 10 am - 5 pm daily</p>
          <p>Enquiries: 02 4998 6660</p>
          <p>simon@binnorie.com.au</p>
        </div>
      </div>
    </footer>
  </body>
</html>
